<div class="no-questions">
    <img src="/images/noquestions.svg" alt="Sem perguntas" title="Sem Perguntas">
    <p>Nenhuma pergunta por aqui...</p>
    <p>Faça sua primeira pergunta e envie o <br> codigo dessa sala para outras pessoas!</p>
</div>