*{
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    /*Resetando configurações do navegador*/
}
html{
    --black: #0D114F; 
    --white: #FAFAFA;
    --red: #E83F5B;
    --light-blue: #E0ECFF;
    --blue: #3485FF;
    --background: #F6FAFF;
    --overlay: #040911;
    --icons-details: #A5B0C1;

    --grey-dark: #4D6E77;
    --grey-blue: #A1B2CD;
    --grey-medium: #D3D9E2;
    --grey-light: #E5EAF1;
    /*
    Criando Variaveis
    */

    font-size: 62.5%; 
    /*Por Boa pratica de responsividade trocamos o px por rem 
        1rem = 16px
        OBS: Sempre fazer o calculo de conversão de px para rem.
        Passando padrão de 10px para facilitar no uso do rem.
    */
}

body{
    height: 100vh; /*VIEW HEIGHT - Pegando toda altura da tela de qualquer dispositivo*/
    /* width: 100vw;  VIEW WIDTH - Pegando toda largura da tela de qualquer dispositivo*/
    background: var(--background);
}
body, button, input, textarea{
    font-size: clamp(14px, 1.6rem, 2vw);
    /*Clamp - intervalo de tamanho para responsividade
    OBS: Quando colocamos font-size no body ele não engloba button, input e nem textArea, desta forma faz-se necessário detalharmos essa estilização.
    */
    font-family: 'Open Sans', sans-serif; /*Fonte Padrão*/
    /*font-family: 'Poppins', sans-serif; - Só será usada em casos especificos*/   
}

.content{
    width: 100%;
    margin:0 auto;
}

.sr-only{
    position: absolute; /*Fazendo a div ignorar toda existência de layout*/
    height: 1px;
    width:1px;
    padding:0;
    margin: -1px; /*Escondendo a label numa parte superior do navegador*/
    overflow:hidden; /*Impedindo ter barra de rolagem desaparecendo com a label*/
    clip-path: rec(0,0,0,0); /*Fazendo com que a label vá para o canto superior por ter padding, margin, height e widht zerados */
    white-space: nowrap;
    border-width: 0;
}