.content{/*Dividindo o content em templates e columns*/
   display: grid;
   grid-template-columns: 60% 40%; /*A SOMA DO TEMPLATE COLIMNS SEMPRE TEM QUE DÁ 100%*/  
   grid-template-rows: 11.4rem 1fr; /*O primeiro parametro esta defindo a largura do header e aponta que o restante que sobrar serár ocupado por ele */
   grid-template-areas:
   'header header'
   'left right' 
}

header{
    grid-area: header ;
}
#bg{
    grid-area: left;
    background:url('../assets/home-bg-img.svg') no-repeat top/contain;
    background-position-x: -10rem ;
}
main{
 grid-area:right;
 display: flex;
 align-items: center;

}
main .container{
    width: min(36.3rem 100%); /*Função do css que sempre ira priorizar o minimo, ou seja, ele sempre priorizara a largura minima, o que signifca que ele optara por qualquer um dos dois parâmetros passados.*/
}
main h2{
    font-family: 'Poppins', sans-serif; /*- Só será usada em casos especificos*/  
    color: var(--black);
    font-size: clamp(20px, 5vw ,2.8rem);
    margin-bottom: 2.4rem;
}
