.content{
    max-width: min(112rem, 90%);
}
#room header{ 
/* Como já existe estilização do header no css global criamos uma id room para estilizarmos apenas header dessa pagina */
width: 100%;

display: flex;
align-items: center;/*Alinhando na vertical e na horizontal com o justify e align*/
justify-content: space-between; /*Colocando um espaço entre a logo e os botões*/

}

#room header .buttons{
    display: flex;
}

#room header .buttons .button:nth-child(1){
    margin-right: 0.8rem;
    padding: 1.3rem 1.9rem;
}
#room header .buttons .button:nth-child(1) img{
    margin-left: 1.16rem;
    width: 2rem;
    height: 2rem;
}

#room header .buttons .button:nth-child(2){
    padding: 1.3rem 2rem;

}

#room header .buttons .button:nth-child(2) img{
    margin-right: 1.16rem;
    width: 2rem;
    height: 2rem;
}
.button > a{
    width: 17.3rem;
    justify-content: flex-end;
}
/* ESTILIZANDO O FORMULARIO DE PERGUNTA */
#question-form h2{
    font-family: 'Poppins', sans-serif; /*- Só será usada em casos especificos*/  
    font-weight: 700;
    font-size: 2.8rem;
    color: var(--black);
    margin-bottom: 2.4rem;
    line-height: 4.2rem;
}
#question-form form{
    border:0.2rem solid var(--grey-blue);
    padding: 1.6rem;
    border-radius: 0 0.8rem 0.8rem 0.8rem;
    margin-bottom: 1.6rem;
}
#question-form textarea{
    /* Passando o Resize como none para cancelar o manipulamento de tamanho */
    resize: none;
    background: none;
    width: 100%;
    outline: none;
}
#question-form form textarea::placeholder{
    color: var(--grey-blue)
}

#question-form form footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#question-form form footer > div{
    /* Criando estilização para os details da caixa de pergunta 
        Usando a Simbologia do ">" garantimos que o css só atacara as divs que sejam filhas do footer e não divs "netas"
    */
    font-size: 1.4rem;
    color: var(--icons-details);
    font-family: 'Poppins', sans-serif; /*- Só será usada em casos especificos*/  
    font-weight: 400;
    display: flex;
    align-items: center;
}
#question-form form footer > div img{
    margin-right: 0.9rem;
}

#question-form form footer button{
    height: auto;
    padding:0.8rem 2.4rem;
    line-height: 2.4rem;
}
/* Questions - Estilizando o campo de perguntas*/
.question-wrapper{ 
    background: var(--light-blue);
    margin-bottom: 0.8rem;
    border-radius: 0 0.8rem 0.8rem 0.8rem;
    padding: 2.4rem;
}
.question-wrapper .question-content{
    display: flex;
    align-items: center;
}
.question-wrapper .question-content p{
    margin-left: 1.6rem;
}
.question-wrapper .actions{
    /* Configurando posiconamento dos actions */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.question-wrapper .actions > a{ 
    /* Centralizando icones e texto do marcar e excluir */
    display: flex;
    align-items: center;
}
.question-wrapper .actions > a > img{
    /* Separando o icone do texto do marcar e excluir */
    margin-right: .8rem;
}
.question-wrapper .actions > a + a{
    /* Não é ideial deixar margin sem necessidades no css 
    + a = Serve para sinalizar que vamos atacar o segundo "a"
    */
    margin-left: 2.4em;

}