.content{
    max-width: 90%;
}
#room header{ 
/* Como já existe estilização do header no css global criamos uma id room para estilizarmos apenas header dessa pagina */
width: 100%;

display: flex;
align-items: center;/*Alinhando na vertical e na horizontal com o justify e align*/
justify-content: space-between ; /*Colocando um espaço entre a logo e os botões*/

}

#room header .buttons{
    display: flex;
}

#room header .buttons .button:nth-child(1){
    margin-right: 0.8rem;
    padding: 1.3rem 1.9rem;
}
#room header .buttons .button:nth-child(1) img{
    margin-left: 1.16rem;
    width: 2rem;
    height: 2rem;
}

#room header .buttons .button:nth-child(2){
    padding: 1.3rem 2.2rem;
}

#room header .buttons .button:nth-child(2) img{
    margin-right: 1.16rem;
    width: 2rem;
    height: 2rem;
}